body {
  margin: 0px;
  padding: 0px;
  height: 100%;
}
td, th {
  text-align: center;
}
.pageContent {
  padding: 15px;
}
.table {
  font-size: 12px
}
.cell-color-success {
  color: green;
}
.cell-color-success:after {
  content: "YES";
}
.cell-color-fail {
  color: red;
}
.cell-color-fail:after {
  content: "NO";
}
.media-cell {
  background-color: gray;
}
.openModalDialogButton {
  margin-right: 5px;
}
#four04 {
  padding: 20px;
}
#categoryErrorBox, #questionErrorBox {
  display:none;
}
