nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          a.navbar-brand(href='/')
            img(width='20', height='20', alt='Brand', src='../assets/images/brand.png')
        .collapse.navbar-collapse
          p.navbar-text.navbar-right
            a.navbar-link(href='mailto:dehlen@me.com') Feedback
          p.navbar-text.navbar-right
            a.navbar-link(href='/') Home
