html
	head
		// Styles
		link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', rel='stylesheet')
		link(rel='stylesheet', href='../assets/css/style.css')
		// Scripts
		script(language='javascript', type='text/javascript', src='../assets/js/config.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.js')
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
		script(language='javascript', type='text/javascript', src='../assets/js/question-api.js')
		script(language='javascript', type='text/javascript', src='../assets/js/question-operations.js')
	body
		// Navigation
		nav.navbar.navbar-default
			.container-fluid
				.navbar-header
					a.navbar-brand(href='/')
						img(width='20', height='20', alt='Brand', src='../assets/images/brand.png')
				.collapse.navbar-collapse
					p.navbar-text.navbar-right
						a.navbar-link(href='mailto:dehlen@me.com') Feedback
					p.navbar-text.navbar-right
						a#showSettings.navbar-link(href='#') Settings
					p.navbar-text.navbar-right
						a.navbar-link(href='/') Categories
		// Modal Dialogs
		#addQuestionDialog.modal.fade(tabindex='-1', role='dialog', aria-labelledby='Add Question', aria-hidden='true')
			.modal-dialog
				.modal-content
					.modal-header
						button.close(type='button', data-dismiss='modal')
							span(aria-hidden='true') ×
							span.sr-only Close
						h4#myModalLabel.modal-title
							| Add Question
					.modal-body
						form(role='form')
							.form-group
								.form-group
									label(for='questionText') Question Text
									input#questionText.form-control(type='text', placeholder='What is a retain cycle ?')
								.form-group
									label(for='questionType') Type
									select#questionType
										option(value='text', selected='') Text
										option(value='picture') Picture
										option(value='video') Video
										option(value='audio') Audio
										option(value='truefalse') True/False
								.form-group
									label(for='answerText') Answer
									input#answerText.form-control(type='text', placeholder='A problem with manual retain counting and your memory management.')
								.form-group
									label(for='option1Text') Option #1
									input#option1Text.form-control(type='text', placeholder='An animal')
								.form-group
									label(for='option2Text') Option #2
									input#option2Text.form-control(type='text', placeholder='A sports event.')
								.form-group
									label(for='option3Text') Option #3
									input#option3Text.form-control(type='text', placeholder='Another option')
								.form-group
									label(for='questionFileInput') Media
									input#questionFileInput(type='file', name='file', accept='audio/*,video/mp4,video/x-m4v,video/*,image/*', disabled='')
								.form-group
									label(for='durationSpinner') Duration
									input#durationSpinner.form-control(type='number', min='2', max='90', value='30')
								.form-group
									label(for='explanationText') Explanation
									input#explanationText.form-control(type='text', placeholder='A retain cycle is often seen in bad memory management programming. And so on...')
					.modal-footer
						button.btn.btn-default(type='button', data-dismiss='modal')
							| Close
						button#addQuestion.btn.btn-primary(type='button')
							| Save changes
		#editQuestionDialog.modal.fade(tabindex='-1', role='dialog', aria-labelledby='Edit Question', aria-hidden='true')
			.modal-dialog
				.modal-content
					.modal-header
						button.close(type='button', data-dismiss='modal')
							span(aria-hidden='true') ×
							span.sr-only Close
						h4#myModalLabel.modal-title
							| Edit Question
					.modal-body
						form(role='form')
							.form-group
								// Fill in input fields
					.modal-footer
						button.btn.btn-default(type='button', data-dismiss='modal')
							| Close
						button#editQuestion.btn.btn-primary(type='button')
							| Save changes
		// Question Table
		.content
			#warningDialog.alert.alert-warning(style='display: none;')
				strong Warning
				| 			  Could not execute the operation. Might be a problem with our server or your internet connection.
			.panel.panel-default
				.panel-heading
					p Category Id: 
					p#categoryIdHeader #{categoryId}
				.panel-body
					form.form-inline(role='form')
						.form-group
							#addQuestionDialogButton.button.btn.btn-primary(type='button', data-toggle='modal', data-target='#addQuestionDialog', aria-label='Add Question')
								span.glyphicon.glyphicon-plus(aria-hidden='true')
								|  Add Question
						.form-group
							.input-group
								input#tableSearchBar.form-control(type='text', placeholder='Search for ...')
								span.input-group-btn
									button.btn.btn-default(type='button') Go!
				.table-responsive
					table#questionTable.table
						thead
							tr
								th Question ID
								th Type
								th Question
								th Answer
								th Option #1
								th Option #2
								th Option #3
								th Media
								th Duration
								th Explanation
								th
								th
						tbody.searchable
