td, th {
	text-align:center;
}

.content {
	padding: 15px;
}

.table {
	font-size: 12px 
}

.cell-color-success {
	color:green;
}

.cell-color-success:after {
  content: "YES";
}

.cell-color-fail {
	color:red;
}

.cell-color-fail:after {
  content: "NO";
}

.mediaCell {
	background-color: gray;
}